:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 0;
    left: 0;
}

body a {
    color: rgb(255, 3, 3);
    text-decoration: none;
}

h1 {
    color: #ededed;
    font-family: 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

main {
    display: grid;
    grid-template-areas:
        "head head head "
        "info info info "
        "side1 nav nav "
        "side1 xx xx "
        "side1 posts posts "
        "side1 posts posts ";
    height: 100vh;
    grid-template-rows: 5% 20% 5% 25% 25%;
    grid-template-columns: 20% 60% auto;
}

.profile-image {
    height: 140px;
    width: 140px;
    margin: 10px;
    border: 2px solid #fff;
    background-color: #000000;
}

/* .floatingsidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
} */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: nav;
}

.nav button {
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    border: none;
    background-color: #000000;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.nav button:hover {
    background-color: #ff0000da;
    color: #ffffff;
    border: 1px solid white;
    transform: translateY(-2px);
    box-shadow: 0 3px 15px 5px rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background: #ffffff15;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    width: fit-content;
}

.btn:hover {
    background: #000000;
    border: none;
    transform: translateY(-2px);
    box-shadow: 0 3px 15px 5px rgb(255, 255, 255);
}

.posts {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    grid-area: posts;
    margin: 5%;
}

.post {
    display: grid;
    grid-gap: 10px;
    gap: 10px;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255);
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post #post-image {
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.post h1 {
    color: red;
}

.post input {
    height: 5vh;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 90%;
}

#comment {
    gap: 10px;
    padding: 15px;
    word-wrap: break-word;
}

.comment-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

#comment-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-item {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: #000000 1px solid;
    padding: 15px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.commentButtons {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #dd0000da;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    width: fit-content;
}

.commentButtons:hover {
    background: #ffffff;
    color: #b90000;
    border: none;
    transform: translateY(-2px);
    box-shadow: 0 3px 15px 5px rgb(255, 0, 0);
}


.logo {
    height: 120px;
    width: 120px;
    cursor: pointer;
}



.right-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.left-infos {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.left-infos h1 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/* #createPost {
    border-radius: 5px;
    grid-area: xx;
    border: 1px solid white;
    padding: 15px;
    color: #da7474;
    background-color: #3d3d3d46;
    height: auto;
    margin: 5%;
}


#createPost button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #dd0000da;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    width: fit-content;
}

#createPost button:hover {
    background: #ffffff;
    color: #b90000;
    border: none;
    transform: translateY(-2px);
    box-shadow: 0 3px 15px 5px rgb(255, 0, 0);
}

#createPost img {
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

#createPost input {
    height: 5vh;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: white;
    color: black;
} */

#creation {
    height: auto;
    grid-area: xx;
    display: grid;
    grid-template-areas: "img post-content post-options";
    grid-template-columns: 1fr 5fr 1fr;
    flex-direction: row;
    border: 1px solid white;
    padding: 15px;
    background-color: #3d3d3d46;
    height: fit-content;
    margin: 5%;
}

#creation #post-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#creation img {
    grid-area: img;
    width: 50px;
    height: 50px;
}

#creation #post-content textarea {
    height: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0.5rem;
    width: 100%;
    grid-area: post-content;
    resize: none;
    background-color: white;
    color: black;
}

#creation #post-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: post-options;
    gap: 10px;
}

#creation input {
    height: 5vh;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    background-color: white;
    color: black;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

/* #comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
} */

/* #comment-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
} */

#user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* border-radius: 5px; */
    /* border: 1px solid white; */
    border: none;
    padding: 10px;
    color: #fff;
    row-gap: 10px;
    width: auto;
    background-color: #000000;
    grid-area: info;
}


.test1 {
    /* background-color: #1c1b1a; */
    display: flex;
    background-color: #f4f4f4;
    grid-area: side1;
    border: 1px solid rgba(112, 102, 102, 0.897);
    border-radius: 5px;
    margin-right: 1%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px;
    font-family: serif;
    box-shadow: 1px 4px 7px rgba(255, 255, 255, 0.671);
    word-wrap: break-word;
    margin: 1%;

}

.test1 button {
    width: 100%;
    height: 50px;
    border: 1px solid white;
    font-size: 15px;
    cursor: pointer;
}

.test1 button:hover {

    background-color: #ff0000da;
    color: #ffffff;
    border: 1px solid white;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}

.test2 {
    position: relative;
    background-color: #f4f4f4;
    padding: 15px;
    font-family: serif;
    grid-area: side3;
    margin: 2%;
    border-radius: 5px;
    height: fit-content;
}

.followers {
    position: absolute;
    display: none;
    flex-direction: column;
    /* top: 50%; */
    left: 50%;
    width: 50%;
    transform: translate(-50%, 50%);
    background-color: #f4f4f4;
    padding: 15px;
    font-family: serif;
    /* grid-area: side4; */
    margin: 1%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    /* max-height: 500px; */
    overflow-y: auto;
}

.followers button {
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    font-size: 15px;
    cursor: pointer;
}

.followers button:hover {
    color: #ffffff;
    border: none;
    /* transition: all 0.3s ease; */
    /* transform: translateY(-2px); */
}

.followers img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.following {
    position: absolute;
    display: none;
    flex-direction: column;
    /* top: 50%; */
    left: 50%;
    width: 50%;
    transform: translate(-50%, 50%);
    background-color: #f4f4f4;
    padding: 15px;
    font-family: serif;
    /* grid-area: side4; */
    margin: 1%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    max-height: 500px;
    overflow-y: auto;
}

.following button {
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    font-size: 15px;
    cursor: pointer;
}

.following button:hover {
    color: #ffffff;
    border: none;
    /* transition: all 0.3s ease; */
    /* transform: translateY(-2px); */
}

#follower {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6b6b6b;
    border: 1px solid white;
    margin: 1%;
    padding: 2px;
}

#follower img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

#follower:hover {
    color: #ffffff;
    border: none;
    /* transition: all 0.3s ease; */
    /* transform: translateY(-2px); */
}



#createGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    row-gap: 10px;
    grid-area: side2;
    border: 1px solid white;
    padding: 15px;
    color: #fff;
    background-color: #3d3d3d46;
    height: fit-content;
    margin: 2%;
}



#createGroup img {
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

#createGroup input {
    height: 5vh;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    color: #000000;
    background-color: white;
}

#createGroup button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #dd0000da;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    width: fit-content;
}

#createGroup button:hover {
    background: #ffffff;
    color: #b90000;
    border: none;
    transform: translateY(-2px);
    box-shadow: 0 3px 15px 5px rgb(255, 0, 0);
}

#createGroup textarea {
    /* height: 50vh; */
    height: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0.5rem;
    width: 100%;
    /* grid-area: post-content; */
    resize: none;
    background-color: white;
    color: black;
}

#group-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#search-input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 20%;
    height: 30px;
    background-color: #fff;
    color: #000000;
    font-size: 12px;
}

#search-input::placeholder {
    font-size: 15px;
    padding: 5px;
}

#search-input:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
}